.bg-image{
  width: 100%;
  height: 100vh;
  background-image: url("https://www.shutterstock.com/image-photo/email-icon-messenger-notification-on-260nw-2263738345.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.text-info {
  position: absolute;
  width: 30rem;
  height: 30rem;
  top: 20%;
  font-family: cursive;
  text-align: center;
  left: 2rem;
  font-size: 20px;
  line-height: 1.5;
  h1{
    font-family: cursive;
    text-decoration: underline;
  }
}
.hero-images-container
{
  margin-left: -6rem;
  margin-top: -8rem;
}
.text-info2{
  font-family: cursive;
  font-size: 18px;
  line-height: 1.5;
  margin-top: -6rem;

}
