<form [formGroup]="signUpForm" (ngSubmit)="signUp()" class="d-flex flex-column justify-content-center align-items-center ">
  <div class="form-row ">
    <div class="form-group col-md-8">
      <label for="inputEmail4">Nom</label>
      <input type="text" class="form-control" formControlName="firstname" id="inputEmail4">
    </div>
    <div class="form-group col-md-8">
      <label for="inputPassword4">Prénom</label>
      <input type="text" class="form-control" formControlName="lastname" id="inputPassword4">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-8">
      <label for="inputEmail4">Bio</label>
      <input type="text" class="form-control" formControlName="resume" id="inputEmail4">
    </div>

  </div>
  <div class="form-row">
    <div class="form-group col-md-8">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" formControlName="email" id="inputEmail4">
    </div>
    <div class="form-group col-md-8">
      <label for="inputPassword4">Password</label>
      <input type="password" class="form-control" formControlName="password" id="inputPassword4">
    </div>
  </div>


  <button type="submit" class="btn btn-primary position-relative text-center">Inscrire</button>
</form>

